<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/img/petsure.png" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Site.css"/>
</head>
<body>
    <div class="container body-content">
        <header>
            <img src="~/Content/img/petsure.png" class="header-img"/>
        </header>
        @RenderBody()
        
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/angular-route.js"></script>
    <script type="text/javascript">
        window.MyApp = {};
    </script>
    <script src="~/App/App.js"></script>
    <script type="text/javascript">
        MyApp.rootPath = '@Url.Content("~")';
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
